@import url('https://fonts.googleapis.com/css?family=Roboto');

.problem {
    border: black 1px solid;
    padding: 10px;
    margin: 20px;
}

body {
    margin: 0 auto;
    max-width: 700px;
    font-family: 'Roboto', sans-serif;    
}

h1,h2,h3,h4 {
    font-weight: normal;
}
center h1 {
    margin-top: 50px;
}